$urlFonts: "//cdn.crystallabs.games/funtopia/funtopia_assets_test/fonts/";
$urlImages: "//cdn.crystallabs.games/funtopia/funtopia_assets_test/images/";
$urlArtists: "//cdn.crystallabs.games/funtopia/funtopia_assets_test/artists/";
