$urlFonts: '//bafybeif3ij6i3lw5ackugtbm54butxhk2dpdt5uxuz3xnesumfwkdls2xu.ipfs.nftstorage.link/fonts/';
$urlImages: '//bafybeif3ij6i3lw5ackugtbm54butxhk2dpdt5uxuz3xnesumfwkdls2xu.ipfs.nftstorage.link/images/';
$urlArtists: '//bafybeif3ij6i3lw5ackugtbm54butxhk2dpdt5uxuz3xnesumfwkdls2xu.ipfs.nftstorage.link/artists/';
