@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655369935214') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60c";
}

.icon-gouxuan:before {
  content: "\e641";
}

.icon-dengji:before {
  content: "\e621";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-medium:before {
  content: "\e87a";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-jiantou_qiehuanzuo:before {
  content: "\eb06";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-zhuanfa:before {
  content: "\e6c9";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-arrow-up:before {
  content: "\e743";
}

.icon-assessed-badge:before {
  content: "\e744";
}

.icon-category:before {
  content: "\e747";
}

.icon-conditions:before {
  content: "\e748";
}

.icon-dollar:before {
  content: "\e74c";
}

.icon-telegram:before {
  content: "\e794";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-favorites:before {
  content: "\e7b3";
}

.icon-zijin:before {
  content: "\e7cb";
}

.icon-block:before {
  content: "\e7de";
}

.icon-pingfendengjiRating11:before {
  content: "\e6b5";
}

.icon-pingfendengjiRating15:before {
  content: "\e6b6";
}

.icon-shuxingchaxun:before {
  content: "\e77a";
}

.icon-zhili:before {
  content: "\e60b";
}

.icon-qianbao2-mianxing:before {
  content: "\e6e6";
}

.icon-fuxuankuang-quanxuan:before {
  content: "\e667";
}

.icon-fuxuankuang-weiquanxuan:before {
  content: "\e668";
}

.icon-discord:before {
  content: "\ebf8";
}

.icon-chakan1:before {
  content: "\e602";
}

.icon-gou:before {
  content: "\e643";
}

.icon-jianhao:before {
  content: "\e634";
}

.icon-jiahao:before {
  content: "\e635";
}

.icon-fenxiang:before {
  content: "\eb24";
}

.icon-weiguanwang-:before {
  content: "\e616";
}

.icon-shouquan:before {
  content: "\e603";
}

.icon-shuju:before {
  content: "\e8b9";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-connections:before {
  content: "\e74a";
}

.icon-tradingvolume:before {
  content: "\e76a";
}

.icon-Customermanagement-fill:before {
  content: "\e77c";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-feed-logo:before {
  content: "\e7ad";
}

.icon-qukuailian:before {
  content: "\e626";
}

.icon-boxhezi:before {
  content: "\e6d3";
}

.icon-shequn:before {
  content: "\e67a";
}

.icon-chakan2:before {
  content: "\e6bd";
}

